<head>
<link rel="stylesheet" href="./styles.css"  type="text/css">

</head>
<body>

<header>

    <img src="./maincrest.svg"/>

    <img src="./rollins.svg"/>

    <div class="row">
        <a>about us</a>
        <a>events</a>
        <a>open source</a>
    </div>
    
    <input type="button" value="<join us>"/>
        
</header>

<div class="body">
    <div>
        <div class="first_row">
            <img src="./left.svg" class="left"/>
            <div class="box">
                <h1>ACM</h1>
                <h2>Association for Computing Machinery</h2>
                <span>Biggest Computer Science student organization at Rollins College</span>
            </div>
            <img src="./right.svg" class="right"/>
            <img src="./cmcImg1.svg" class="lgo"/>
        </div>
    </div>
    <div>
        <div class="second-row">
            <h1>Meet the board</h1>

            <div class='parent'>
                <% for(member of members) { %>
                    <%- include("person",member) %>
                <% } %>

            </div>
        



            
        </div>
    </div>
    <div>
        <div class="third-row">
            <div class="events">

                <% for(var g of events) { %>
                <div class="row">
                    <% for(let photo of g) { %>
                    <%- photo.file %>
                    <% }%>
                </div>
                <% } %>
              
            </div>

            <h2>Ready to elevate your CS experience?</h2>      
            
            <div class="sub_buttom">
                <img src="./pageEnds/pageend.svg" class="cent"/>
                <img src="./pageEnds/centpageend.svg" class="cent_left"/>


                <img src="./pageEnds/rpageend.svg" class="right"/>

                <img src="./left.svg" class="left"/>

                <img src="/findUs.svg" class="findUs"/>
            </div>
        </div>
    </div>    
</div>
</body>








