@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playfair+Display&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Caveat:wght@400..700&family=Playfair+Display&family=Quicksand:wght@300..700&display=swap");
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* The header incorporates the the nave bar and imagas incliding the logo and Rollins crest */
header {
    width: 100%;
    height: 90px;
    background-color: #fff;
  }
/* within the header of this document this scales the images to fit within the page height*/
header img:nth-child(1) {
    zoom: 60%;
}

  header img:nth-child(2) {
    position: absolute;
    top: 10px;
    zoom: 80%;
  }
  header .row {
    display: inline;
    position: absolute;
    left: 27%;
    top: 15;
  }
  header .row > a {
    color: #3183ff;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
  }
    /* symple on hover action on nave elements in the nave bar to show activity*/
  header .row > a:hover {
    text-decoration: underline;
  }
  header .row > a:nth-child(1):after {
    content: " |";
  }
  header .row > a:nth-child(2):after {
    content: " |";
  }
  header input[type="button"] {
    zoom: 75%;
    border: none;
    width: 276px;
    height: 77px;
    background: #3183ff;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: lowercase;
    color: #fff;
    position: absolute;
    left: 82%;
    top: 20px;
  }
  /* this adds an simple border action to the [Join us] button; adding a black border to the button*/
  header input[type="button"]:active {
    border: 1px solid #000;
  }

/* end of header */


/* body */
.body > div {
    height: 100%;
    width: 100%;
  }
  /* the firts dive in the segemts that make up this document */
  .body > div:nth-child(1) {
    background: linear-gradient(180deg, #3183ff 0%, #bebdff 100%);
  }

  .body > div:nth-child(1) .first_row {
    position: absolute;
    z-index: 99999;
    margin-left: 50px;
    margin-right: 50px;
    top: 130px;
    width: calc(100% - (50px * 2));
    height: 3.2in;
    /* dissregard, is made to avoid color overflow*/
    background-color: transparent;
  }

    /* Biggest Computer Science student organization at Rollins College */
  .body > div:nth-child(1) .first_row .box {
    color: #fff;
    float: left;
    margin-left: calc(10% - 10px);
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 122px;
    margin-top: 60px;
    width: 50%;
    height: 3.2in;
    background-color: transparent;
    text-align: center;
  }

  /* genaric text and sty rools for header elemets located in the first box */
  .body > div:nth-child(1) .first_row .box > h1 {
    margin-top: -15px;
  }
  .body > div:nth-child(1) .first_row .box > h2 {
    font-family: "Quicksand";
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    margin-top: -89px;
  }

  /* puses text to a display size that is suitable for display*/
  .body > div:nth-child(1) .first_row .box > span {
    margin-left: auto;
    margin-right: auto;
    font-family: "Quicksand";
    width: calc((span-font-size * 13));
    display: block;
    word-wrap: break-word;
    font-weight: 500;
    font-size: 30px;
    line-height: 30.94px;
    margin-top: 30px;
  }

  /* the larger image of the acm logo, not the official logo */
  .body > div:nth-child(1) .first_row .lgo {
    zoom: 62%;
    float: right;
    margin-top: 0px;
    margin-right: 6%;
  }

  /* convetie on the left side of this element */
  .body > div:nth-child(1) .first_row .left {
    position: absolute;
    zoom: 62%;
    float: left;
    margin-top: -60px;
    left: -85;
  }
 /* convetie on the right side of this element */
  .body > div:nth-child(1) .first_row .right {
    position: absolute;
    zoom: 62%;
    float: right;
    margin-top: -60px;
    right: -85;
  }