@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playfair+Display&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Caveat:wght@400..700&family=Playfair+Display&family=Quicksand:wght@300..700&display=swap");
@import url("first_page.css");
@import url("second_page.css");
@import url("third_page.css");

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* The header incorporates the the nave bar and imagas incliding the logo and Rollins crest */
header {
    width: 100%;
    height: 90px;
    background-color: #fff;
  }
/* within the header of this document this scales the images to fit within the page height*/
header img:nth-child(1) {
    zoom: 60%;
}

  header img:nth-child(2) {
    position: absolute;
    top: 10px;
    zoom: 80%;
  }
  header .row {
    display: inline;
    position: absolute;
    left: 27%;
    top: 20;

    margin-left: 10%;
    margin-right: auto;
  }
  header .row > a {
    color: #3183ff;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;

  }
    /* symple on hover action on nave elements in the nave bar to show activity*/
  header .row > a:hover {
    text-decoration: underline;
  }
  header .row > a:nth-child(1):after {
    content: "  | ";
  }
  header .row > a:nth-child(2):after {
    content: "  | ";
  }
  header input[type="button"] {
    zoom: 65%;
    border: none;
    width: 276px;
    height: 77px;
    background: #3183ff;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-transform: lowercase;
    color: #fff;
    position: absolute;
    left: 82%;
    top: 20px;
  }
  /* this adds an simple border action to the [Join us] button; adding a black border to the button*/
  header input[type="button"]:active {
    border: 1px solid #000;
  }
/* end of header */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999999999999;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}


.sidenav svg {
  padding: 8px 2px 8px 32px;
  zoom: 150%;
  transition: 0.3s;

}

.sidenav svg:hover{
  zoom: 170%;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}